{% extends "base.html" %}


{% block onready %}
    {{block.super}}
    {% if not request.user.is_authenticated %}
    $("#login").modal({
        show:true,
        backdrop: 'static',
        keyboard :false,
    });
    {% endif %}
    $('[data-toggle="tooltip"]').tooltip()
{% endblock onready %}


   {% block content %}
    <div class="card-columns">
        {% for plato in platos %}
            {% if plato.stock %}

                    <div class="card" data-code="{{plato.codigo}}">
                        <div class="card-block">
                            <h4 class="card-title">{{plato.nombre}}</h4>
                            <h6 class="card-subtitle text-muted">${{plato.valor}}</h6>
                            <h6 class="card-subtitle text-muted">Cobertura: {{plato.zona}}</h6>
                        </div>
                        <div class="foto">
                            <img src="{{plato.foto}}" alt="Card image" class="col-md-12 image">
                        </div>
                        <div class="card-block footer">
                            <p class="card-text">{{plato.descripcion|safe|linebreaksbr}}<p>
                            <p class="card-text">{{plato.ingredientes|safe|linebreaksbr}}<p>
                            <p class="card-text">Calorias: {{plato.calorias|safe|linebreaksbr}} - Grasas {{plato.grasa}}<p>
                                
                                    
                            <div class="row">
                                <div class="action col-md-4">
                                    <button type="button" data-toggle="tooltip" title="Comprar" class="btn btn-action cart" data-sku="{{plato.codigo}}" onclick="callback_cart('{{plato.codigo}}')" data-value="{{plato.valor}}"><i class="glyphicon glyphicon-shopping-cart" ></i></button>
                                    <div class="info col-md-12" data-toggle="tooltip" title="Usuarios que han comprado" data-placement="bottom">
                                        {{plato.comprados}}
                                    </div>
                                </div>
                                <div class="action col-md-4">

                                   <button type="button" data-pk="{{plato.pk}}" data-liked="{{plato.liked}}" data-user="{{request.user.pk}}" class="btn btn-action fav {% if plato.liked %}liked{% endif %}" data-toggle="tooltip" title="Favoritos"><i class="glyphicon glyphicon-heart"></i></button>

                                  <div class="info col-md-12">
                                        {{plato.fav|length}}
                                    </div>

                                </div>
                                

                                <div class="action col-md-4">
                                  <button type="button" class="btn btn-action shared" data-toggle="tooltip" title="Compartir"><i class="glyphicon glyphicon-share"></i></button>
                                  
                                  <div class="info col-md-12">
                                        {{plato.shared}}
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

            {% endif %}
        {% empty %}
            {% if not request.user.is_authenticated %}
        
            {% for x in "123456" %}
                <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Titulo</h4>
                    <h6 class="card-subtitle text-muted">$20.000</h6>
                </div>
                <div class="foto">
                    
                        <img src="http://lorempixel.com/output/food-q-c-640-480-{{x}}.jpg" alt="Card image" class="col-md-12 image">


                </div>
                <div class="card-block footer hidde">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo vitae laboriosam mollitia eligendi quibusdam accusantium, sit, velit laborum voluptate recusandae non sint vero provident officia, quos ad sed repudiandae quam?</p>
                    <div class="row">
                        <div class="action col-md-4">
                            <button type="button" class="btn btn-action cart"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                            <div class="info col-md-12">
                                3
                            </div>
                        </div>
                        <div class="action col-md-4">
                          <button type="button" class="btn btn-action fav"><i class="glyphicon glyphicon-heart"></i></button>
                          <div class="info col-md-12">
                                3
                            </div>

                        </div>
                        <div class="action col-md-4">
                          <button type="button" class="btn btn-action shared"><i class="glyphicon glyphicon-share"></i></button>
                          <div class="info col-md-12">
                                3
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            

        {% endfor %}

    </div>


   {% endblock content %}
